@import './../../../../../assets/scss/variables.scss';

$gap: 1rem;

:host {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: $content-width;
  margin: 0 auto;
}

.header span {
  font-size: 18px;
  font-weight: bold;
}

.training-data {
  display: flex;
  flex-wrap: wrap;
  gap: $gap;
  padding: 1rem;
  box-shadow: 0 2px 10px 0px #ccc;
}

.training-data {
  span {
    flex-grow: 1;
    width: calc(50% - $gap);
  }
  
  .label {
    font-weight: bold;
  }
}
p-table  {
  box-shadow: 0 2px 10px 0px #ccc;
}