<ng-container *ngIf="trainingDetails; else spinner">

  <div class="header">
    <span> {{trainingDetails.localization}} ({{trainingDetails.date | date:"dd-MM-yyyy hh:mm"}}) </span>
    <p-divider></p-divider>
  </div>
  <div class="training-data">

    <span class="label">Adres</span>
    <span>{{trainingDetails.address}}</span>

    <span class="label">Uwagi</span>
    <span>{{trainingDetails.notes}}</span>
    
    <span class="label">Pogoda</span>
    <span>{{trainingDetails.weather}}</span>
  </div>

  <p-table
    [value]="trainingDetails.dogTrainings"
    responsiveLayout="scroll"
    [paginator]="true"
    [rows]="10"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="{first} - {last} z {totalRecords}"
    [rowsPerPageOptions]="[5,10,20]">

    <ng-template pTemplate="header">
      <tr>
        <th>Imię psa</th>
        <th>Data startu</th>
        <th style="width:4rem"></th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-dogTraining>
      <tr>
        <td>{{dogTraining.dogName}}</td>
        <td>{{dogTraining.startTime | date:"dd-MM-yyyy hh:mm"}}</td>
        <td>
          <button
            type="button"
            pButton pRipple icon="pi pi-map"
            (click)="showDogTraining(dogTraining.dogTrainingId)">
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</ng-container>

<ng-template #spinner>
  <!-- TODO: implement spinner -->
</ng-template>
