<div class="trainings-list">
  <!-- TODO: użyć row expand, żeby wyświetlić dodatkowe informacje
  i nie korzystać z dodatkowego komponentu na detailsy -->
  <p-table
    #trainings
    [value]="trainingsData"
    responsiveLayout="scroll"
    [paginator]="true"
    [rows]="10"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="{first} - {last} z {totalRecords}"
    [rowsPerPageOptions]="[5,10,20]">

    <!-- TODO: change table to dynamic and use global filter -->
    <!-- <ng-template pTemplate="caption">
      <div class="flex">
        <span class="p-input-icon-left ml-auto">
            <i class="pi pi-search"></i>
            <input pInputText type="text" (input)="trainings.filterGlobal($event.target.value, 'contains')" placeholder="Search keyword" />
        </span>
      </div>
    </ng-template> -->

    <ng-template pTemplate="header">
      <tr>
        <th>Lokalizacja</th>
        <th>Adres</th>
        <th>Data</th>
        <th style="width:4rem"></th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-training>
      <tr>
        <td>{{training.localization}}</td>
        <td>{{training.address}}</td>
        <td>{{training.date | date:"dd-MM-yyyy hh:mm"}}</td>
        <td>
          <button type="button" pButton pRipple icon="pi pi-arrow-circle-right" (click)="showDetails(training.id)"></button>
        </td>
      </tr>
    </ng-template>

  </p-table>
</div>
<!-- todo: wyrzucić mapę -->
<div class="map">
  <agm-map [latitude]="lat" [longitude]="lng">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  </agm-map>
</div>