<h1>Treningi</h1>
<div class="trainings-list">
  <!-- TODO: użyć row expand, żeby wyświetlić dodatkowe informacje
  i nie korzystać z dodatkowego komponentu na detailsy -->
  <p-table
    #trainings
    [value]="trainingsData"
    responsiveLayout="scroll"
    [paginator]="true"
    [rows]="10"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="{first} - {last} z {totalRecords}"
    [rowsPerPageOptions]="[5,10,20]"
    dataKey="localization">

    <!-- TODO: change table to dynamic and use global filter -->
    <!-- <ng-template pTemplate="caption">
      <div class="flex">
        <span class="p-input-icon-left ml-auto">
            <i class="pi pi-search"></i>
            <input pInputText type="text" (input)="trainings.filterGlobal($event.target.value, 'contains')" placeholder="Search keyword" />
        </span>
      </div>
    </ng-template> -->

    <ng-template pTemplate="header">
      <tr>
        <th></th>
        <th>Lokalizacja</th>
        <th>Adres</th>
        <th>Data</th>
        <th style="width:4rem"></th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-training let-expanded="expanded">
      <tr>
        <td>
          <button type="button" pButton pRipple [pRowToggler]="training" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
      </td>
        <td>{{training.localization}}</td>
        <td>{{training.address}}</td>
        <td>{{training.date | date:"dd-MM-yyyy hh:mm"}}</td>
        <td>
          <button type="button" pButton pRipple icon="pi pi-arrow-circle-right" (click)="showDetails(training.id)"></button>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="rowexpansion" let-training>
      <div class="flex row-details">
        <span>row details test</span>
      </div>
    </ng-template>

  </p-table>
</div>