<div class="trainings-list">
  <p-table
    [value]="trainingsData"
    responsiveLayout="scroll"
    [paginator]="true"
    [rows]="10"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="{first} - {last} z {totalRecords}"
    [rowsPerPageOptions]="[5,10,20]">

    <ng-template pTemplate="header">
      <tr>
        <th>Lokalizacja</th>
        <th>Adres</th>
        <th>Data</th>
        <th style="width:4rem"></th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-training>
      <tr>
        <td>{{training.localization}}</td>
        <td>{{training.address}}</td>
        <td>{{training.date | date:"dd-MM-yyyy hh:mm"}}</td>
        <td>
          <button type="button" pButton pRipple icon="pi pi-arrow-circle-right" (click)="showDetails(training.id)"></button>
        </td>
      </tr>
    </ng-template>

  </p-table>
</div>
<div class="map">
  <agm-map [latitude]="lat" [longitude]="lng">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  </agm-map>
</div>