<ng-container *ngIf="dogTrainingDetails; else spinner">
  <agm-map [latitude]="lat" [longitude]="lng" [zoom]="50">
    <agm-polyline [strokeColor]="'#ff0000'" (lineClick)="onLineClick($event)">
      <ng-container *ngFor="let data of currentDogTrail">
        <agm-polyline-point
          [latitude]="data.latitude"
          [longitude]="data.longitude">
        </agm-polyline-point>
        <agm-marker
          [latitude]="data.latitude"
          [longitude]="data.longitude"
          [iconUrl]="icon">
            <agm-info-window [disableAutoPan]="false">
              <div class="flex flex-column">
                <span>{{data.latitude}}</span>
                <span>{{data.longitude}}</span>
                <span>{{data.time | date:'dd-MM-yyyy hh:mm:ss'}}</span>
                <div>
                  <button type="button" pButton
                    label="Oznacz jako punkt początkowy"
                    styleClass="p-button-sm"
                    (click)="setAsDogTrailStart(data)">
                  </button>
                  <button type="button" pButton
                    label="Oznacz jako punkt końcowy"
                    styleClass="p-button-sm"
                    (click)="setAsTrailEnd(data)">
                  </button>
                </div>
              </div>
            </agm-info-window>
        </agm-marker>
      </ng-container>
    </agm-polyline>
  </agm-map>

  <form [formGroup]="form">
    <p-tabView styleClass="tabview-custom">
      <p-tabPanel header="Trening">
        <div class="container">
          <div class="info" formGroupName="trailData">
  
            <label for="lostPersonTrailLength">Długość śladu pozoranta</label>
            <input type="text" pInputText formControlName="lostPersonTrailLength" id="lostPersonTrailLength">
  
            <label for="lostPersonStartTime">Czas startu pozoranta</label>
            <p-calendar
              formControlName="lostPersonStartTime"
              id="lostPersonStartTime"
              [showTime]="true"
              dateFormat="dd-mm-yy">
            </p-calendar>
  
            <label for="delayTime">Czas odłożenia śladu</label>
            <input type="text" pInputText formControlName="delayTime" id="delayTime">
  
            <label for="dogTrailLength">Długość śladu psa</label>
            <input type="text" pInputText formControlName="dogTrailLength" id="dogTrailLength">
  
            <label for="dogStartTime">Czas startu psa</label>
            <p-calendar
              formControlName="dogStartTime"
              id="dogStartTime" 
              [showTime]="true"
              dateFormat="dd-mm-yy">
            </p-calendar>
  
            <label for="duration">Czas pracy psa</label>
            <input type="text" pInputText formControlName="duration" id="duration">
  
          </div>
          <div class="info">
            <label for="weather">Pogoda</label>
            <textarea type="text" pInputTextarea formControlName="weather" id="weather" rows="10"></textarea>
  
            <label for="groundType">Typ podłoża</label>
            <textarea pInputTextarea formControlName="groundType" id="groundType" rows="5"></textarea>
  
          </div>
        </div>
      </p-tabPanel>
      <p-tabPanel header="Informacje dodatkowe">
        <div class="info" formGroupName="additionalData">
          <label for="lostPersonName">Pozorant</label>
          <input type="text" pInputText formControlName="lostPersonName" id="lostPersonName">
  
          <label for="notes">Notatki</label>
          <textarea pInputTextarea formControlName="notes" id="notes" rows="10"></textarea>

          [TODO: ADD FILES]

        </div>  
      </p-tabPanel>
    </p-tabView>
  </form>
</ng-container>

<ng-template #spinner></ng-template>