<header>
  <fa-icon class="menu" [icon]="faMenu" (click)="toggleMenu(navbar)"></fa-icon>
  <div class="user-account"></div>
</header>
<div id="content">
  <nav #navbar>
    <ng-container *ngFor="let element of navigationElements">
      <li class="menu-item" [routerLink]="element.routerLink">
        <fa-icon class="icon-center" [icon]="element.icon"></fa-icon>
        <span class="menu-label">{{element.label}}</span>
      </li>
    </ng-container>
  </nav>
  <main>
    <router-outlet></router-outlet>
  </main>
</div>
<footer></footer>
