<section class="flex flex-column justify-content-center">
  <img src="../../../../../../assets/images/home-background.jpg" class="photo">
  <div class="header flex align-items-center">
    <h1>{{data.name}}</h1>
  </div>
  <div class="buttons flex">
    <button pButton pRipple type="button" label="Edytuj dane" class="p-button-raised"></button>
    <button pButton pRipple type="button" label="Zmień zdjęcie" class="p-button-raised"></button>
  </div>
</section>

<section>
  <div class="dog-data">
    <span>Przewodnik</span>
    <span>{{data.guideName}}</span>
  </div>
  <div class="dog-data">
    <span>Rasa</span>
    <span>{{data.breed}}</span>
  </div>
  <div class="dog-data">
    <span>Data urodzenia</span>
    <span>{{data.dateOfBirth | date:"dd-MM-yyyy"}}</span>
  </div>
  <div class="dog-data">
    <span>Poziom</span>
    <span>{{data.level}}</span>
  </div>
  <div class="dog-data">
    <span>Notatki</span>
    <span>{{data.notes}}</span>
  </div>
</section>