@import './assets/scss/custom-primeng.scss';
@import 'primeflex/primeflex.scss';

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, sans-serif;;
}

body {
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

body {
  overflow: hidden;
}

* {
  box-sizing: border-box;
}